.App-header {
  background-color: rgb(219, 217, 196); /* Schimbați culoarea fundalului */
  color: #000; /* Schimbați culoarea textului */
  font-size: 24px; /* Schimbați dimensiunea fontului */
  text-align: center; /* Aliniați textul în centru */
}